<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <context-param>
        <param-name>username</param-name>
        <param-value>pyh</param-value>
    </context-param>

    <context-param>
        <param-name>age</param-name>
        <param-value>23</param-value>
    </context-param>

    <!--servlet1-->
    <servlet>
        <servlet-name>ServletLifeCycleTest</servlet-name>
        <servlet-class>com.servlet.ServletLifeCycleTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLifeCycleTest</servlet-name>
        <url-pattern>/LifeCycleTest</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletB</servlet-name>
        <servlet-class>com.servlet.ServletB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletB</servlet-name>
        <url-pattern>/ServletB</url-pattern>
    </servlet-mapping>


    <!--servlet2-->
    <servlet>
        <servlet-name>GenericServlet</servlet-name>
        <servlet-class>com.servlet2.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenericServlet</servlet-name>
        <url-pattern>/genericservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GenericServlet2</servlet-name>
        <servlet-class>com.servlet2.WelcomeServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenericServlet2</servlet-name>
        <url-pattern>/genericservlet2</url-pattern>
    </servlet-mapping>


    <!--servlet3-->
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>com.servlet3.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/system/login</url-pattern>
    </servlet-mapping>

    <!--servlet4-->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.servlet4.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/system/login2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.servlet4.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/system/logout</url-pattern>
    </servlet-mapping>


    <!--1.欢迎页面，优先访问上面的，资源不存在再访问下面，路径不需要以“/”开头
        2.不一定非是页面，也可以是Servlet输出页面
        3.不设置默认访问index ,tomcat中设置了<welcome-file-list/>(index.html;index/html;index.jsp)
    -->
    <welcome-file-list>
        <welcome-file>login2.html</welcome-file>
        <welcome-file>login.html</welcome-file>
        <welcome-file>index.html</welcome-file>
        <!-- <welcome-file>ServletB</welcome-file>-->
    </welcome-file-list>
    
    <error-page>
        <error-code>404</error-code>
        <location>/error/notfound.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error/error.html</location>
    </error-page>
</web-app>